<!DOCTYPE html>

<html>

<head>
  <link rel="icon" href="/img/weather.png">  
  <link rel="stylesheet" href="./css/styles.css">
  <title>About Me</title>
</head>

<body>

  <div class="main-content">
    {{>header}}
    <p> This site created by vicNYC. Uses data from mapbox and darksky</p>
    <img class="portrait" src="/img/kyle.png">
  </div>

  {{>footer}}
</body>

</html>